@import "tailwindcss";

/* Theme tokens (v4 way) */


@theme {
  --color-primary: oklch(0.62 0.18 265);
}


/* Base styles */
html, body {
  height: 100%;
}

/* Dark mode */
html.dark {
  background-color: #050914;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
